<html>

<head>
  <meta charset="UTF-8" />
  <title>Snipettfy - Salve seus snippets de código</title>

  <link rel "shortcut icon" href="/favicon/png" type="image/x-icon" />
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dracula.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="/main.js"></script>
</head>

<body>
  <div class="auth-wrapper">
    <form method="POST" action="" class="form-signin">

      <h1>Criar conta</h1>

      <input name="name" type="text" placeholder="Digite seu Nome">
      <input name="email" type="email" placeholder="Digite seu e-mail">
      <input name="password" type="password" placeholder="Digite sua senha">

      <button type="submit">Criar minha conta</button>

      <a href="/">Criar tenho conta</a>
    </form>
  </div>

</body>

</html>
