<html>
    <head>
        <title>Aprendendo NodeJS com GoNode</title>
    </head>

    <body>
        {% for nome in nomes %}
            Bem vindo ao sistema, {{ nome }} <br>
        {% endfor %}
    </body>
</html>