{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/nav.njk' %}
    <section class="snippets-list">
      <div class="list-header">
        <a href="#">NOVO SNIPPET</a>
      </div>
      {% for snippet in snippets %}
        <a href="/app/categories/{{ activeCategory }}/snippets/{{ snippet.id }}">
          <strong>{{ snippet.title }}</strong>
          <p>{{ snippet.excerpt }}</p>
        </a>
      {% endfor %}
    </section>
  </div>

{% endblock %}
